.root {
  display: flex;
  gap: 6px;
}

.icon {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  color: var(--secondary-black-color);
  font-size: 12px;
  line-height: 14px;

  &__heading {
    font-weight: 300;
  }

  &__text {
    font-weight: 400;
  }
}
