.root {
  position: absolute;
  width: 100%;
  left: 0;
  top: 130%;
  z-index: 200;
}

.wrapper {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.17);
  border-radius: 20px;
  padding: 10px;
}

.total {
  color: var(--secondary-black-color);
  font-size: 14px;
}
