:root {
  --secondary-bg-color: #f3f3f3;
  --header-top-bg-color: var(--secondary-bg-color);
  --primary-black-color: #000000;
  --secondary-black-color: #333333;
  --light-black-color: #2b2b2b;
  --primar-grey-color: #e2dfdf;
  --secondary-grey-color: #b6b6b6;
  --primary-pink-color: #f5b0b8;
  --secondary-pink-color: #ffb4ea;
  --ligth-pink-color: #efc9e1;
  --primary-white-color: #ffffff;
  --primary-blue-color: #57d6e7;
  --secondary-blue-color: #3e95ef;
  --primary-red-color: #ef4b4d;
  --header-dropdown-color: var(--primary-pink-color);
  --header-sidebar-color: var(--primary-pink-color);
  --slider-dots-bg-color: #c4c4c4;
  --slider-dots-active-bg-color: var(--primary-white-color);
  --card-bg-color: var(--primary-white-color);
}
