@mixin font($font-family, $font-style, $font-weight, $font-url, $font-format) {
  @font-face {
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
    src: url($font-url) format($font-format);
  }
}
