@import '@styles/mixins/index.scss';

.root:not(:last-child) {
  margin-bottom: 6vh;
}

.char {
  color: var(--transparent-black-color);
  font-weight: 400;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 6vh;
}

.grid {
  @include flex($justify-content: center, $flex-wrap: wrap);
  gap: 20px;

  &__item {
    @include flex($justify-content: center, $align-items: center);
    max-height: 251px;
    height: 28vh;
    background-color: var(--card-bg-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    flex-basis: 590px;
  }

  &__brand {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    font-size: calc(20px + 20 * (100vw / 1440));
  }
}
