.root {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  animation: loader 1s steps(50) infinite;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
