@import '@styles/mixins/index.scss';

.root {
  flex-grow: 1;
}

.heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: var(--secondary-black-color);
  margin-bottom: 30px;
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  justify-items: center;
  margin-bottom: 100px;

  &__loader {
    grid-area: 1 / 2;
  }
}

.pagination {
  @include flex($justify-content: center);
}
