@import '@styles/mixins/index.scss';

.notFound {
  padding: 50px 0 140px 0;

  &__wrapper {
    @include flex($align-items: center, $flex-direction: column);
    max-width: 1200px;
    width: calc(100vw - var(--screen-margin));
    margin: 0 auto;
  }

  &__heading {
    font-weight: 700;
    font-size: 95px;
    color: var(--secondary-red-color);
    letter-spacing: 10px;
  }

  &__text {
    font-weight: 700;
    font-size: 44px;
    color: var(--secondary-red-color);
    margin-bottom: 20px;
  }

  &__home {
    font-size: 25px;
    font-weight: 700;
    border: 2px solid var(--secondary-red-color);
    padding: 15px;
    border-radius: 16px;
  }
}
